@media screen and (max-width:576px) {

    .videos-card-container,
    .menu-container ul,
    .menu-container,
    .nav-container {
        flex-direction: column;
        gap: 10px;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 20px;
        padding: 20px 0px;
        background-image: none;
    }
    .banner-content{
        background-image: url("../assets/images/Group\ 14.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner-img,
    .banner-content {
        width: 70%;
        margin: 0 auto;
        padding: 0px;
    }
    .videos-card {
        width: 100%;
        text-align: center;
    }
    .category-container{
        flex-basis: 30%;
    }
}