@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* common styles here  */
.flex {
    display: flex;
    align-items: center;
}

.list-none {
    list-style: none;
}

.primary-btn {
    background-color: #FF42A5;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
}

.section-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.section-highlight{
    background-image: linear-gradient(180deg,#F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
/* nav styles here  */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo-container img {
    width: 60px;
}

.nav-logo-container h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0B0223;
    padding-left: 15px;
}

.primary-color {
    color: #FF42A5;
}

.menu-container li {
    list-style: none;

}

.menu-container a {
    color: #3C354F;
    font-weight: 500;
    text-decoration: none;
    padding-right: 20px;
}

.follow-section p {
    color: #3C354F;
    font-weight: 500;
    background-color: #0b02231a;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.fa-youtube {
    color: #F61C0D;
    font-size: 1.5rem;
    padding-left: 15px;
}

.fa-tiktok {
    color: #000000;
    font-size: 1.5rem;
}

/* banner styles here  */
.banner {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: left;
}

.banner-content {
    width: 50%;
    padding-left: 10%;
}

.banner-content h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.banner-content h1 {
    font-size: 5rem;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.banner-img {
    width: 50%;
    text-align: right;
    padding-right: 10%;
}

.banner-img img {
    width: 100%;
}

.banner-content li {
    font-size: 1rem;
    font-weight: 500;
    color: #534C64;
    padding: 5px 0px;
}

.banner-btn {
    background-color: #4EC5F7;
}
/* online games section styles here  */
.online-games{
    width: 80%;
    margin: 50px auto;
}
.online-games-content{
    text-align: center;
}
.online-games-content p{
    padding: 10px 0px;
}
.videos-card-container{
    justify-content: space-between;
    margin: 30px auto;
}
.videos-card{
    width: 23%;
}
.videos-card img{
    width: 100%;
}
.videos-card p{
    color: #534C64;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 10px 0px;
}
/* play games styles here  */
.play-games{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}
.play-img-container{
    width: 60%;
    position: relative;
}
.secondary-img{
    position: absolute;
    bottom: -100px;
    right: -180px;
}
.play-img-container>img{
    width: 100%;
}
.secondary-img img{
    width: 70%;
}
.play-games-content{
    width: 40%;
}
.play-games-content p{
    font-size: 0.8rem;
    color: #534C64;
    padding: 10px 0px;
}
/* games category styles here  */
.games-category{
    margin: 100px auto 0px;
    padding: 80px 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.category-container{
    gap: 10px;
    padding: 5px;
    border-radius: 30px;
    background-color: white;
}
.category-container:hover {
    border: 1px solid #FF42A5;
    border-radius: 30px;
}
.category-container:hover .category-name{
    color: #FF42A5;
}
.category-container img{
    width: 40px;
}
.category-name{
    font-size: 1rem;
    font-weight: 600;
    color: #0B0223;
}
/* footer styles here  */
footer{
    text-align: center;
    background-color: #0B0223;
    padding: 100px 0px;
}
.footer-logo{
    justify-content: center;
}
.footer-logo img {
    width: 60px;
}

.footer-logo h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    padding-left: 15px;
}

.quick-links ul{
    justify-content: center;
    gap: 3%;
}
.quick-links li, .fa-brands{
    padding: 15px 0px;
}
.quick-links li a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}
.social-links a{
    font-size: 2rem;
    color: white;
    margin: 10px;
}
.policy a, .footer-description{
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
    padding: 15px 15px;
}
